# Association rule

In [18]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (3.9.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
    --------------------------------------- 0.0/1.4 MB 162.5 kB/s eta 0:00:09
   - -------------------------------------- 0.0/1.4 MB 326.8 kB/s eta 0:00:05
   - -------------------------------------- 0.1/1.4 MB 363.1 kB/s eta 0:00:04
   -- ------------------------------------- 0.1/1.4 MB 587.0 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.4 MB 653.6 kB/s eta 0:00:02
   ------- -------------------------------- 0.3/1.4 MB 923.9 kB/s eta 0:00:02
   -------- ------------------------------- 0.3/1.4 MB 902.6 kB/s eta 0:00:02
   ----------- ---------------------------- 0.4/1.4 MB 1.1 MB/s eta 0:00:01
   ------------ --------------------------- 0.5/1.4 MB 1.1 MB/s eta 0:00:01
   --------------- ------------------------ 0.6/1.4 MB 1.2 MB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.4 MB 1.3 MB/s eta 0:00:01
   --------------------- ------------------ 0.8/1.4 MB 1.4 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.4 MB 1.5 MB/s eta 0:00:01
   ------------------------- -------------- 0.9/1.4 MB 1.4 MB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.4 MB 1.5 MB/s eta 0:00:01
   ------------------------------- -------- 1.1/1.4 MB 1.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.2/1.4 MB 1.6 MB/s eta 0:00:01
   ---------------------------------- ----- 1.2/1.4 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.4 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 1.3/1.4 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 1.4/1.4 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  1.4/1.4 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 1.4/1.4 MB 1.4 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [19]:
import mlxtend

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori,association_rules

In [43]:
# Load the dataset
df = pd.read_excel(r"C:\Users\Dell\Downloads\Online retail.xlsx", header=None)
df

                                                      0
0     shrimp,almonds,avocado,vegetables mix,green gr...
1                                burgers,meatballs,eggs
2                                               chutney
3                                        turkey,avocado
4     mineral water,milk,energy bar,whole wheat rice...
...                                                 ...
7496                      butter,light mayo,fresh bread
7497  burgers,frozen vegetables,eggs,french fries,ma...
7498                                            chicken
7499                                 escalope,green tea
7500    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7501 rows x 1 columns]

In [39]:
df.shape

(7501, 1)

In [9]:
df.describe

<bound method NDFrame.describe of      shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]>

In [13]:
df.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [47]:
#Preprocessing the Data
print(df.columns)

Int64Index([0], dtype='int64')

In [48]:
df.dtypes

0    object
dtype: object

In [49]:
# Split items into transactions
transactions = df[0].str.split(',')

# Display a sample
print(transactions.head())

0    [shrimp, almonds, avocado, vegetables mix, gre...
1                           [burgers, meatballs, eggs]
2                                            [chutney]
3                                    [turkey, avocado]
4    [mineral water, milk, energy bar, whole wheat ...
Name: 0, dtype: object

In [50]:
from mlxtend.preprocessing import TransactionEncoder

# Initialize the transaction encoder
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
basket = pd.DataFrame(te_ary, columns=te.columns_)

# Display a sample of the transformed data
print(basket.head())

    asparagus  almonds  antioxydant juice  asparagus  avocado  babies food  \
0       False     True               True      False     True        False
1       False    False              False      False    False        False
2       False    False              False      False    False        False
3       False    False              False      False     True        False
4       False    False              False      False    False        False

   bacon  barbecue sauce  black tea  blueberries  ...  turkey  vegetables mix  \
0  False           False      False        False  ...   False            True
1  False           False      False        False  ...   False           False
2  False           False      False        False  ...   False           False
3  False           False      False        False  ...    True           False
4  False           False      False        False  ...   False           False

   water spray  white wine  whole weat flour  whole wheat pasta  \
0        False       False              True              False
1        False       False             False              False
2        False       False             False              False
3        False       False             False              False
4        False       False             False              False

   whole wheat rice   yams  yogurt cake  zucchini
0             False   True        False     False
1             False  False        False     False
2             False  False        False     False
3             False  False        False     False
4              True  False        False     False

[5 rows x 120 columns]

In [51]:
from mlxtend.frequent_patterns import apriori, association_rules

# Apply Apriori algorithm
frequent_itemsets = apriori(basket, min_support=0.02, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)
rules = rules[rules['lift'] > 1]

# Display the top rules
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head())

  antecedents      consequents   support  confidence      lift
0   (burgers)           (eggs)  0.028796    0.330275  1.837830
1   (burgers)   (french fries)  0.021997    0.252294  1.476173
2   (burgers)  (mineral water)  0.024397    0.279817  1.173883
3   (burgers)      (spaghetti)  0.021464    0.246177  1.413918
4      (cake)  (mineral water)  0.027463    0.338816  1.421397